{{ define "main" }}
{{ range .Paginator.Pages }}
<article>
  <header>
    <h1><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h1>
    <time datetime="{{ .Date }}">{{ .Date.Format $.Site.Params.dateFormat }}</time>
  </header>
  <div class="body">
    {{ .Content | safeHTML | truncate $.Site.Params.postTruncateLength "…" }}
  </div>
  {{ if .Truncated }}
  <footer>
    <a href="{{ .RelPermalink }}">Read More&hellip; &raquo;</a>
    {{ partial "disqus/count.html" . }}
  </footer>
  {{ end }}
</article>
{{ end }}

{{ partial "pagination.html" . }}

{{ partial "disqus/count_script.html" . }}

{{ partial "googleAnalytics/script.html" . }}

{{ end }}
