{{ define "main" }}
<article>
  <header>
    <h1>All {{ .Type }}</h1>
  </header>
    <div class="body">
      <ol style="list-style-type:disc">
        {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}" title="{{ .Description }}">
            <time datetime="{{ .Date }}">{{ .Date.Format $.Site.Params.dateFormat }}</time> - {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ol>
    </div>
</article>
{{ end }}
