{{ define "main" }}
<article>
  <header>
    <h1><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h1>
    <time datetime="{{ .Date }}">{{ .Date.Format $.Site.Params.dateFormat }}</time>
  </header>

  <div class="body">
    {{ .Content }}
  </div>

  {{ if $.Site.DisqusShortname }}
    <footer>
      {{ partial "disqus/comments.html" . }}
    </footer>
  {{ end }}
</article>

{{ partial "post_navigation.html" . }}

{{ partial "disqus/comments_script.html" . }}

{{ end }}
